main {
  display: flex;
  flex: 1;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: #e1e1e1;
  border-radius: 5px;
  padding: 50px;
}

.app-container h1 {
  margin-bottom: 1rem;
}

.about {
  height: 100px;
  margin: 40px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
