main {
  display: flex;
  flex: 1;
  justify-content: center;
}

.modal-popup{
  width: 300px;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: #e1e1e1;
  border-radius: 5px;
  padding: 50px;
}

.app-container h1 {
  margin-bottom: 1rem;
}
