

  .card {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 450px;
    min-height: 134px;
    margin: 43px;
    border-radius: 5px;
    background: #f1f1f1;
    display: flex;
    flex-direction: row;

    .side-bar{
      height: 100%;
      width: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color:rgba(255, 255, 255, 1);

      .side-bar-user-icon {
          width: 100%;
          height: 35px;
          border-top-left-radius: 5px;
          background: rgba(83, 131, 188, 0.6);
          display:flex;
          justify-content: center;

          .user-initial{
            margin: auto;
            width: 23px;
            height: 23px;
            background: rgba(83, 131, 188, 0.6);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
      }
      .side-bar-icons{
          width:100%;
          height: 100%;
          border-bottom-left-radius: 5px;
          background: rgba(83, 131, 188, 0.8);
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 10px;

          .links, .stars {
            text-align: center;
            padding-bottom: 10px;
          }

          p {
            font-size: 8px;
          }
      }
    }

    .card-info {
     padding: 15px 15px 20px 15px;
     width: 100%;
    }

    h3 {
      font-size: 1.7rem;
      padding-top: 10px;
    }

    .story-content {
      margin-top: 10px;
    }

    .byline {
        font-size: .8rem;
    }
}

  .user-info-panel {
    background-color: #f1f1f1;
    margin: 10px;
    width: 200px;
    text-align: center;
    padding: 15px;
  }

