.userPanel{
    height: 405px;
    width: 200px;
    margin-top: 43px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    color: rgba(83, 131, 188, 1);


    .userImage {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 15px;
    }

    .panelLinks{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;

        h4 {
            padding: 15px;
        }
    }
  }